@page
@model ProjectScheduleManagement.Pages.File.AddFileModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Add File";
}
<div class="container">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="fileUpload">Choose CSV File</label>
            <input type="file" class="form-control" id="fileUpload" name="fileUpload">
        </div>
        <button type="submit" class="btn btn-primary" style="margin:10px">Upload File</button>
    </form>
</div>
